{% extends 'base.html' %}
{% block content %}
     <br>
    <br>
    <ul class="nav justify-content-center">

    <h1>Witamy w programie FakturyWEB</h1>

    </ul>
     <br>
    <br>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a href="/clients/add/"><button type="button" class="btn btn-primary btn-lg">Dodaj nową fakturę</button></a>
        </li>
        <li class="nav-item">
            <a href="/invoices/add/"><button type="button" class="btn btn-primary btn-lg">Dodaj kontrahenta</button></a>
        </li>
        <li class="nav-item">
            <a href="/products/add/"><button type="button" class="btn btn-primary btn-lg">Dodaj dodaj produkt</button></a>
        </li>
    </ul>
    <br>
    <br>
        <h3>Twój dzisiejszy przychód:</h3>
{% endblock %}two