{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'add_product' %}" class="btn btn-success">Nowy produkt</a>
            </li>
        </ol>
    </nav>
    {% if info == 'success' %}
        <div class="alert alert-success" role="alert">
            Produkt dodany pomyślnie!
        </div>
    {% endif %}
    {% if info == 'success-edit' %}
        <div class="alert alert-success" role="alert">
            Produkt został pomyślnie zedytowany
        </div>
    {% endif %}
    {% if info == 'delete' %}
        <div class="alert alert-danger" role="alert">
            User has been successfully deleted!
        </div>
    {% endif %}
    <table class="table table-light table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Cena brutto</th>
            <th scope="col">Cena netto</th>
            <th scope="col">Wartość VAT</th>
            <th scope="col">Stawka VAT</th>
            <th scope="col">Stan magazynowy</th>
            <th scope="col">Aktywny</th>
            <th scope="col">Czas dodania</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price_gross }}</td>
                <td>{{ p.price_net }}</td>
                <td>{{ p.price_vat }}</td>
                <td>{{ p.vat_rate }}</td>
                <td>{{ p.quantity_stock }}</td>
                <td>
                    {% if p.is_active %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}</td>
                <td>{{ p.timestamp }}</td>
                <td>
                    <a href="{% url 'edit_product' p.id %}" class="mx-2"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="12" class="text-center bg-info">W bazie znajduje się {{ length }} produktów.</td>
        </tr>
        </tbody>
    </table>
{% endblock %}