{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'add_invoice' %}" class="btn btn-success">Nowa faktura</a>
            </li>
        </ol>
    </nav>
    {% if info == 'success' %}
        <div class="alert alert-success" role="alert">
            Faktura dodana pomyślnie!
        </div>
    {% endif %}
    {% if info == 'success-edit' %}
        <div class="alert alert-success" role="alert">
            Faktura pomyślnie zaktualizowana!
        </div>
    {% endif %}
    {% if info == 'delete' %}
        <div class="alert alert-danger" role="alert">
            Faktura pomyślnie usunięta!
        </div>
    {% endif %}
    <table class="table table-light table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Numer faktury</th>
            <th scope="col">Status</th>
            <th scope="col">Typ</th>
            <th scope="col">Klient</th>
            <th scope="col">Data faktury</th>
            <th scope="col">Brutto</th>
            <th scope="col">Netto</th>
            <th scope="col">VAT</th>
            <th scope="col">Ile zapłacono</th>
        </tr>
        </thead>
        <tbody>
        {% for i in invoices %}
            <tr>
                <td>{{ i.id }}</td>
                <td><a href="{% url 'view_invoice' i.id %}">{{ i.invoice_nr }}</a></td>
                <td>{{ i.invoice_status }}</td>
                <td>{{ i.invoice_type }}</td>
                <td>{{ i.client }}</td>
                <td>{{ i.invoice_date }}</td>
                <td>{{ i.price_gross }}</td>
                <td>{{ i.price_net }}</td>
                <td>{{ i.price_vat }}</td>
                <td>{{ i.paid }}</td>
                <td>
                    <a href="{% url 'add_invoice_record' i.id %}" class="mx-2"><i class="fas fa-plus-circle"></i></a>
                    <a href="{% url 'delete_invoice' i.id %}"><i class="fas fa-trash text-danger"></i></a>
                    <a href="{% url 'edit_invoice' i.id %}" class="mx-2"><i class="fas fa-user-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="12" class="text-center bg-info">W bazie znajduje się {{ length }} faktura.</td>
        </tr>
        </tbody>
    </table>
{% endblock %}