{% extends 'base.html' %}
{% block content %}
    <div class="col-xl-6 col-md-6">
        <div class="card bg-danger text-white m-3">
            <div class="card-body"><strong>Czy jesteś pewny, że chcesz usunąć użytkownika
                -></strong> {{ user.username }}?
            </div>
            <div class="btn-group m-3">
                <a href="{% url 'users_list' %}" class="btn btn-primary btn-lg btn-block mx-3">Nie</a>
                <a href="{% url 'delete_user' user.id %}?d=yes"
                   class="btn btn-success btn-lg btn-block mx-3">Tak</a>
            </div>
        </div>
    </div>
{% endblock %}