{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{% url 'add_place' %}" class="btn btn-success">Nowe miejsce sprzedaży</a>
            </li>
        </ol>
    </nav>
    {% if info == 'success' %}
        <div class="alert alert-success" role="alert">
            Miejsce sprzedaży dodane pomyślnie!
        </div>
    {% endif %}
    {% if info == 'success-edit' %}
        <div class="alert alert-success" role="alert">
            User has been successfully updated!
        </div>
    {% endif %}
    {% if info == 'delete' %}
        <div class="alert alert-danger" role="alert">
            User has been successfully deleted!
        </div>
    {% endif %}
    <table class="table table-light table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Adres</th>
            <th scope="col">Czas stworzenia</th>
            <th scope="col">NIP</th>
            <th scope="col">Aktywny</th>
        </tr>
        </thead>
        <tbody>
        {% for p in places %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.nip }}</td>
                <td>{{ p.timestamp }}</td>
                <td>
                    {% if p.is_active %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}</td>
                <td>
                    <a href="{% url 'toggle_place' p.id %}" class="mx-2">{% if p.is_active %}
                        <i class="fas fa-power-off text-danger"></i>
                    {% else %}
                        <i class="fas fa-power-off text-success"></i>
                    {% endif %}</a>
                    <a href="{% url 'edit_place' p.id %}" class="mx-2"><i class="fas fa-user-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7" class="text-center bg-info">W bazie znajduje się {{ length }} miejsc sprzedażowych.</td>
        </tr>
        </tbody>
    </table>
{% endblock %}